/*qitu*/

main {
  flex: 1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*qitu*/

.search-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  padding: 5px;
}

.search-btn:hover {
  color: rgb(2, 2, 2);
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.product-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 40px;
  align-items: center;
}

.product-image img {
  width: 300px;
  border-radius: 8px;
}

.product-details {
  max-width: 400px;
}

.product-details h2 {
  font-size: 28px;
  color: #333;
}

.product-details .price {
  font-size: 22px;
  color: rgb(24, 9, 24);
}

.product-details .description {
  margin-top: 10px;
  font-size: 16px;
}

.add-to-cart {
  background-color: transparent;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #000;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.add-to-cart:hover {
  background-color: #000;
  color: #fff;
}


.nav-menu {
  display: flex;
  justify-content: center;
  gap: 113px;
  background-color: rgb(235, 137, 137);
  padding: 12px 0;
  list-style: none;
  position: relative;
  margin: 0;
}

.nav-menu > li {
  position: relative;
}

.nav-menu > li > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
  min-width: 180px;
  flex-direction: column;
}

.dropdown a {
  color: black;
  text-decoration: none;
  padding: 6px 0;
  display: block;
  transition: 0.2s;
}

.dropdown a:hover {
  color: rgb(0, 0, 0);
  transform: translateX(5px);
}

.nav-menu li:hover .dropdown {
  display: flex;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
}

.top-bar .left h1 {
  margin: 8px;
  margin-left: 60px;
}

.top-bar .left h1 a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.top-bar .right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 60px;
}

.top-bar .right nav {
  display: flex;
}

.top-bar .right a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.top-bar .right a i {
  display: flex;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.top-bar form {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.top-bar form input {
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}
