.container{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: nowrap;
    gap: 16px;
}
.logo h1{
    margin: 0;
}
.logo h1 a{
    text-decoration: none;
    color: purple;
}
.container > *{
    flex: 1;
}
.container2{
    display: flex;
    justify-content: space-around;
}

span{
    display: flex;
    justify-content: right;
}


.section1{
    background-color: aqua;
    padding: 0.01cm;
}

.section2{
background-color: tomato;
    padding: 0.01cm;
}

.black{
    background-color: red;
    padding: 4px;
    text-align: center;
}
.footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 15px;
}






.carousel-wrapper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 20px auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  gap: 10px;
}

.product-card {
  flex: 0 0 24.49%; 
  background-color: #e0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: hsl(0, 4%, 10%);
  color: white;
  font-size: 32px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 2;
  border-radius: 30px;
  opacity: 0.58;
  padding-bottom: 42px;
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

.product-card-1-0{
  flex: 0 0 24.49%; 
  background-color: #e0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.product-card-1-0 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-card-1-1{
  flex: 0 0 16.1%; 
  background-color: #e0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.product-card-1-1 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}